/* ESTILOS GERAIS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
}
h2::after{
    content: "";
    display: flex;
    width: 100px;
    height: 2px;
    background-color: #009590;
    margin: 10px auto 0;
}
p{
    font-weight: 300;
}
body{
    background-color: rgb(29, 29, 29);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: #e4edea;
}

section{
    padding: 20px 35px;
}

/* ESTILO DO HEADER */

header{
    display: flex;
    background-color: #111;
    padding: 12px 35px;
}

.col-e{
    width: 30%;
    align-content: center;
    display: grid;
}
.col-e img{
    max-width: 230px;
    height: auto;
}

.col-d{
    width: 70%;
}

header nav ul{
    display: flex;
    justify-content: right;
    list-style: none;
    padding: 15px;
}

header nav ul li{
    padding: 15px;
    border-bottom: 2px solid #111;
    transition: all 0.5s;
}

header nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
header nav ul li:hover, header nav ul li:active{
    border-bottom: 2px solid #009590;
}

/* ESTILO DO CORPO*/

.banner{
    background-image: url('../img/mercedes-banner.jpg');
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align: center;
    background-position: 0px -70px;
    background-size: cover;
}

.banner::before{
    content: '';
    position: absolute;
    background-image: linear-gradient(180deg, rgba(0 0 0 / 30%), rgba(29 29 29));
    height: 600px;
    width: 100%;
}

.banner h1, .banner p, .banner i{
    z-index: 1;
    position: relative;
}

.banner h1{
    font-size: 32px;
}

.banner p{
    font-size: 18px;
}

.banner i{
    color: #009590;
    font-size: 28px;
}

.banner i{
    color: #fff;
    transition: all 0.3s;
}
.banner i:hover{
    color: #009590;
}

.banner a{
    position: absolute;
    bottom: 80px;
}

#sobre{
    margin: 100px auto 0;
    max-width: 75%;
}

#sobre p{
    text-align: center;
    line-height: 1.5em;
}

#participantes .container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#participantes .container img{
    width: 100%;
    max-height: 350px;
    border-radius: 17px 17px 0 0;
}

.part-card{
    margin: 0 15px;
    border: 1px solid #333333;
    border-radius: 17px;
    background-color: #262626;
    box-shadow: 0 0 32px rgba(0 0 0 / 40%);
    transition: all 0.5s;
}

.part-card:hover{
    scale: 110%;
    border-color: #009590;
    background-color: #009590;
}

.part-card:hover h3{
    color: #fff;
}

.part-info{
    text-align: center;
    padding: 15px;
}

.part-info h3{
    color: #009590;
}

.part-info p{
    margin-bottom: 5px;
}

.prog-row{
    display: flex;
    justify-content: center;
}

.prog-box{
    display: flex;
    width: 25%;
    margin: 0 20px;
    padding: 25px 30px;
    border: 1px solid #393939;
    border-radius: 17px;
    background-image: linear-gradient(47deg, rgb(90 90 90 / 15%), transparent);
}

.prog-box i{
    font-size: 32px;
}

.box-e{
    width: 20%;
    align-content: center;
}

.box-d{
    width: 80%;
}

.box-d p{
    color:#009590
}

/* ESTILO DO FORM */

#inscricao p{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
}

form label{
    margin: 10px;
    font-size: 16px;
}

form input{
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form .btn{
    background-color: #009590;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

form .btn:hover{
    background-color: #009590;
}

hr{
    margin: 50px auto;
    border-color: #383838;
    max-width: 800px;
}